
.background {
    background: url(../img/1.jpg)no-repeat center fixed;
    background-size: cover;
}
.image{
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    height: auto;
}

.navbar {
    background-color: transparent;
    max-height: 80px;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

.button1{
    border-radius: 30px;
}



#logo {
    width: 280px; 
    /* max-width:280px;  */
    height: auto !important;
}
    

@media only screen and (max-width: 375px) {
    #logo {
        background: red;
        width: 190px;
    }
}